<p>
  {{title}}
</p>

<table class="table table-striped" [mfData]="firms| firmsPipe : filterText" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
  <thead>
  <tr>
    <th style="width: 25%">
      <mfDefaultSorter by="firmNumber">firmNumber</mfDefaultSorter>
    </th>
    <th style="width: 50%">
      <mfDefaultSorter by="firmName">firmName</mfDefaultSorter>
    </th>
    <th style="width: 25%">
      <mfDefaultSorter by="startDate">startDate</mfDefaultSorter>
    </th>
  </tr>
  <tr>
    <th colspan="3">
      Filter by firmName:
      <input class="form-control" [(ngModel)]="filterText"/>
      <button (click)="resetFilter()" class="btn btn-primary" tooltip="Reset search">Reset</button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data">
    <td>{{item.firmNumber}}</td>
    <td>{{item.firmName}}</td>
    <td>{{item.startDate|date:'dd/MM/yyyy'}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
